//CARDS//
@use "../utilities/mixins";

.card-title{
    background-color: black;
}

.card-img-overlay {
    @include mixins.flex(column, center, center,);
    text-align: center;
}

.card-body {
    text-align: center;
}

.card img {
    height: 400px;
}

.servicios-tarjetas {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin: 35px;
}