// IMAGENES //

.img-inicio {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.img-inicio2 {
    width: 400px;
    height: 500px;
}

.galeria-img {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.img-gale {
    width: 300px;
}

.img-contacto {
    width: 800px;
    height: 400px;
}

.carousel {
    width: 600px;
}
.carousel-inner {
    height: 500px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
}
