@media (max-width: 576px) {
    .img-inicio {
        display: flex;
        flex-direction: column;
    }

    .img-inicio2 {
        width: 100%;
    }

    .servicios-tarjetas {
        display: flex;
        flex-direction: column;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .texto-home {
        width: auto;
        text-align: center;
    }

    .img-home {
        width: 100%;
        margin-top: 5px;
    }

    .presentacion{
        width: auto;
        display: flex;
        flex-direction: column;
        .parrafo-home{
            width: 80%;
            align-items: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    .carousel {
        width: 100%;
    }

    .galeria-img {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .contenedor-formulario {
        flex-direction: column;
    }

    .img-contacto {
        width: 100%;
        height: auto;
    }
}

